.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.total{
  background-image: url(../public/img/glassesImage/background.jpg);
  background-size: cover;
  height: 100vh;
}
.imgGlasses{
  width: 100%;
  height: 100%;
}
.vglasses__model{
  background-image:url(../public/img/glassesImage/model.jpg);
  background-position: center top;
  background-size: cover;
  height: 500px;
}

.vglasses__model{
  background-color: white;
  padding: 20px 40px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.vglasses__model img{
  position: absolute;
  top: 36%;
  left: 23%;
  width: 300px;
  height: 80px;
  opacity: 0.9;
}
